[submodule "src/dynareadout"]
	path = lib/dynareadout
	url = https://github.com/PucklaJ/dynareadout.git
	branch = 23.07
[submodule "src/pybind11"]
	path = lib/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = v2.11.1
