[submodule "src/dynareadout"]
	path = lib/dynareadout
	url = https://github.com/PucklaJ/dynareadout.git
	branch = ac92e3ff53e83e8654c7abaece16c7a0d02394b9
[submodule "src/pybind11"]
	path = lib/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = v2.11.1
